[ENGINE]
OTTO_REST_PORT = 5000
HASS_HOST = localhost
HASS_PORT = 8123
HASS_PASSWORD = hasspassword
HASS_SSL = no
TZ = America/Los_Angeles
JSON_RULES_DIR = ../json_rules
LOG_LEVEL = INFO
TEST_WEBSOCKET_PORT = 8000