appdirs==1.4.3
asyncws==0.1
attrs==17.4.0
certifi==2018.4.16
chardet==3.0.3
click==6.7
colorlog==2.10.0
configparser==3.5.0
croniter==0.3.17
Flask==1.0.2
Flask-Cors==3.0.4
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.1.0
packaging==16.8
pluggy==0.6.0
py==1.5.3
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.4
six==1.10.0
urllib3==1.22
Werkzeug==0.12.1
